In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import LeaveOneOut
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
import numpy as np

In [3]:
#creaiamo il dataframe pandas
df = pd.DataFrame({'y': [6, 8, 12, 14, 14, 15, 17, 22, 24, 23],
                   'x1': [2, 5, 4, 3, 4, 6, 7, 5, 8, 9],
                   'x2': [14, 12, 12, 13, 7, 8, 7, 4, 6, 5]})

In [4]:
df

    y  x1  x2
0   6   2  14
1   8   5  12
2  12   4  12
3  14   3  13
4  14   4   7
5  15   6   8
6  17   7   7
7  22   5   4
8  24   8   6
9  23   9   5

In [5]:
#define predictor and response variables
X = df[['x1', 'x2']]
y = df['y']

In [7]:
#define cross-validation method to use
cv = LeaveOneOut()

#build multiple linear regression model
model = LinearRegression()

#use LOOCV to evaluate model
scores = cross_val_score(model, X, y, scoring='neg_mean_absolute_error',
                         cv=cv, n_jobs=-1)

#view mean absolute error
np.mean(np.absolute(scores))

np.float64(3.1461548083469717)