In [3]:
import pandas as pd
#i dataframe sono alla base di pandas
#df = pd.read_csv()

#df["temperature"].max()
#df["est"][df["events"] == 'Rain']
#df["windspeed"].mean()

#data munging è l'operazione di pulizia dei dati per permettere che vengano processati facilmente
#df.fillna(0, inplace=True) #in questo caso riempie tutti i NaN con il valore 0

#i data frame sono una struttura dati usata per rappresentare i dati tabellari (come excell)
df2 = pd.read_csv("C:\\Users\\utente\\Desktop\\Bicocca\\Stage\\weather_data.csv")
df2

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [6]:
#puoi rappresentare i dati con pandas all'interno di un dataframe usando un dizionario python
dati = { "data": ["1/1/2001", "12/8/2009"],
         "whether": ["shitty", "sunny"],
            "event": ["film", "zombies"]
}

#creiamo il dataframe a partire dal dizionario
df3 = pd.DataFrame(dati)
df3

        data whether    event
0   1/1/2001  shitty     film
1  12/8/2009   sunny  zombies

In [8]:
df2.shape

(6, 4)

In [12]:
#disegna solo le prime 2 righe
df2.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [13]:
#disegna le ultime righe
df2.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [15]:
df2[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [17]:
#disegna tutte le colonne esistenti
df2.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [18]:
#disegna gli elementi della singola colona
df2.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [19]:
#le colonne sono basate sul tipo
type(df2["event"])

pandas.core.series.Series

In [20]:
#se vogliamo stampare solo alcune colonne
df2[["event", "day"]]

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [22]:
#vediamo alcune operazioni 
df2["temperature"].max()

35

In [24]:
df2["temperature"].describe()

count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000
Name: temperature, dtype: float64

In [26]:
df2[df2.temperature >= 32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [27]:
#la figata è che puoi combinare tutto
df2[["day", "temperature"]][df2.temperature == df2.temperature.max()]

        day  temperature
1  1/2/2017           35

In [28]:
df2.index

RangeIndex(start=0, stop=6, step=1)

In [35]:
#l'opzione inplace cambia la variabile df2 che rappresenta il dataframe di modo che al posto degli indici
#utilizzi i giorni, cioè gli elementi della colonna "day"
#df2.set_index("day", inplace = True)
df2

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [36]:
df2.loc["1/3/2017"]

temperature      28
windspeed         2
event          Snow
Name: 1/3/2017, dtype: object

In [39]:
#resetta le modifiche agli indici ritornando alle impostazioni di default
df2.reset_index(inplace=True)

In [38]:
df2

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny